.sticky {
    display: block;
}

.post,
.page {
    margin: 0;
}

.updated:not(.published) {
    display: none;
}

.page-content,
.entry-content,
.entry-summary {
    margin: 1.5em 0 0;
}

.page-links {
    clear: both;
    margin: 0 0 1.5em;
}

// student post type archive page styling
.post-type-archive-rinhae-students a {
    font-weight: bold;
}

// schedule page styling
.page-id-56 table {
    width: 100%;
    font-size: 0.75rem;
    border-collapse: collapse;
    margin: 1rem 0;
}

.page-id-56 caption {
    padding: 1rem;
}

.page-id-56 table tr:nth-child(even) {
    background: rgb(220, 220, 220);
}

.page-id-56 table td,
th {
    width: 33%;
    padding: 0.5rem;
}

.page-id-56 .post-56 {
    font-size: 0.8rem;
}

@media (min-width: 26.25rem) {
    // schedule page styling
    .page-id-56 table {
        font-size: 0.9rem;
    }
    .page-id-56 table td,
    th {
        padding: 1rem;
    }
    .page-id-56 .post-56 {
        font-size: 0.9rem;
    }
}
// Page specific styling can put here
@media (min-width: 37.5rem) {
    // front-page styling
    .page-id-33 .home-blog h2 {
        width: 100%;
    }
    .page-id-33 .home-blog img {
        width: 100%;
        height: 140px;
        object-fit: cover;
    }
    .page-id-33 .home-blog article {
        width: 31%;
    }
    .page-id-33 .home-blog {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    // schedule page styling
    .page-id-56 table {
        font-size: 1rem;
    }
    .page-id-56 table td,
    th {
        padding: 1.25rem;
    }
    .page-id-56 .post-56 {
        font-size: 1rem;
    }
}

@media (min-width: 50rem) {
    // student post type archive page styling
    .post-type-archive-rinhae-students .student-archive-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .post-type-archive-rinhae-students .student-archive-container article {
        width: 30%;
    }
}
